<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>

<script type='text/javascript' src='/static/lib/require/require.js'></script>
<script type='text/javascript' src='../static/lib/require/config.js'></script>


<script type="text/javascript">

    require(["jquery"],function($){
    	$(function(){
    		alert("load finished");
    	})
    	
    });
    
    
</script>
</head>
<body>

我是首页，欢迎大家到来

<div id="">

</div>


The name is <span data-bind="text: personName"></span> 


</body>
</html>